
:root {
    --ice:whitesmoke;
    
  }
.big-ice{
  width: 800px;  
  height: 200px;
  margin-left: 100px;

  background: var(--ice);
  border: 1p solid whitesmoke;
  border-radius: 170px 200px 120px 150px ;
  position: absolute;
  top:600px;
}

.left-ice{
    width: 200px;  
    height: 70px;
    margin-left: 170px;
    background: var(--ice);
    border: 1p solid whitesmoke;
    border-radius: 60% 0 0 30px;
    position: absolute;
    top:550px;
  }
  .right-ice{
    width: 580px;  
    height: 170px;
    margin-left: 250px;
    background: var(--ice);
    border: 1p solid whitesmoke;
    border-radius: 25% 50% 50% 50%;
    position: absolute;
    top:500px;
  }